{% extends "store/base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <h1>Cart</h1>
        <div>
            <h3>Cart Summary</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>${{ game.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Total: ${{ total_price }}</h4>
            <a href="{% url 'store:checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
        </div>
    </section>
</main>
{% endblock %}
